Repository kacperkruger/devops-academy: changes, and which Jenkins stages are due for each by the changed paths.
All: Execute Board Games API Pipeline, Execute Board Games App Pipeline, Execute Reverse Proxy Pipeline

Execute Board Games API Pipeline:
              steps {
                  dir('BoardGamesApi') {
                      script {
                          def apiPipeline = load 'Jenkinsfile'
                          withChecks('Run API Pipeline') {
                              apiPipeline.runPipeline(env.BRANCH_NAME)
  ...

Execute Board Games App Pipeline:
              steps {
                  dir('BoardGamesApp') {
                      script {
                          def appPipeline = load 'Jenkinsfile'
                          withChecks('Run App Pipeline') {
                              appPipeline.runPipeline(env.BRANCH_NAME)
  ...

Execute Reverse Proxy Pipeline:
              steps {
                  dir('ReverseProxy') {
                      script {
                          def reverseProxyPipeline = load 'Jenkinsfile'
                          reverseProxyPipeline.runPipeline(env.BRANCH_NAME)
                      }
                  }
              }
          

changed to under privillage image
  BoardGamesApp/Dockerfile
Due: Execute Board Games App Pipeline

fixed chmod
  BoardGamesApp/Dockerfile.dev
Due: Execute Board Games App Pipeline

updated frontend port
  k8s/develop/deployment/board-games-app-deployment.yaml
  k8s/develop/ingress/board-games-ingress.yaml
  k8s/develop/service/board-games-app-service.yaml
  k8s/main/deployment/board-games-app-deployment.yaml
  k8s/main/ingress/board-games-ingress.yaml
  k8s/main/service/board-games-app-service.yaml
  k8s/staging/deployment/board-games-app-deployment.yaml
  k8s/staging/ingress/board-games-ingress.yaml
  k8s/staging/service/board-games-app-service.yaml
Due: none

added varsion tag
  BoardGamesApp/Dockerfile
Due: Execute Board Games App Pipeline

changed project key
  BoardGamesApi/sonar-project.properties
Due: Execute Board Games API Pipeline

fixed dir name
  k8s/develop/config-map/board-games-configmap.yaml
Due: none

changed home page message
  BoardGamesApp/src/index.js
  BoardGamesApp/src/ui/components/Home.js
Due: Execute Board Games App Pipeline

removed duplicated files
  k8s/Jenkinsfile
  k8s/config-map/board-games-configmap.yaml
  k8s/deployment/board-games-api-deployment.yaml
  k8s/deployment/board-games-app-deployment.yaml
  k8s/develop/config-map/board-games-configmap.yaml
  k8s/develop/deployment/board-games-api-deployment.yaml
  k8s/develop/deployment/board-games-app-deployment.yaml
  k8s/develop/ingress/board-games-ingress.yaml
  k8s/develop/service/board-games-api-service.yaml
  k8s/develop/service/board-games-app-service.yaml
  k8s/develop/service/mongo-service.yaml
  k8s/develop/stateful-set/mongo-statefulset.yaml
  k8s/ingress/board-games-ingress.yaml
  k8s/service/board-games-api-service.yaml
  k8s/service/board-games-app-service.yaml
  k8s/service/mongo-service.yaml
  k8s/staging/config-map/board-games-configmap.yaml
  k8s/staging/deployment/board-games-api-deployment.yaml
  k8s/staging/deployment/board-games-app-deployment.yaml
  k8s/staging/ingress/board-games-ingress.yaml
  k8s/staging/service/board-games-api-service.yaml
  k8s/staging/service/board-games-app-service.yaml
  k8s/staging/service/mongo-service.yaml
  k8s/staging/stateful-set/mongo-statefulset.yaml
  k8s/stateful-set/mongo-statefulset.yaml
Due: none

removed branch parametr
  Jenkinsfile
Due: none

removed duplicated files
  Jenkinsfile
  k8s/Jenkinsfile
  k8s/config-map/board-games-configmap.yaml
  k8s/deployment/board-games-api-deployment.yaml
  k8s/deployment/board-games-app-deployment.yaml
  k8s/ingress/board-games-ingress.yaml
  k8s/main/config-map/board-games-configmap.yaml
  k8s/main/deployment/board-games-api-deployment.yaml
  k8s/main/deployment/board-games-app-deployment.yaml
  k8s/main/ingress/board-games-ingress.yaml
  k8s/main/service/board-games-api-service.yaml
  k8s/main/service/board-games-app-service.yaml
  k8s/main/service/mongo-service.yaml
  k8s/main/stateful-set/mongo-statefulset.yaml
  k8s/service/board-games-api-service.yaml
  k8s/service/board-games-app-service.yaml
  k8s/service/mongo-service.yaml
  k8s/staging/config-map/board-games-configmap.yaml
  k8s/staging/deployment/board-games-api-deployment.yaml
  k8s/staging/deployment/board-games-app-deployment.yaml
  k8s/staging/ingress/board-games-ingress.yaml
  k8s/staging/service/board-games-api-service.yaml
  k8s/staging/service/board-games-app-service.yaml
  k8s/staging/service/mongo-service.yaml
  k8s/staging/stateful-set/mongo-statefulset.yaml
  k8s/stateful-set/mongo-statefulset.yaml
Due: none

removed parametr
  Jenkinsfile
Due: none

removed console log
  BoardGamesApp/src/index.js
Due: Execute Board Games App Pipeline

removed duplicated files
  Jenkinsfile
  k8s/Jenkinsfile
  k8s/config-map/board-games-configmap.yaml
  k8s/deployment/board-games-api-deployment.yaml
  k8s/deployment/board-games-app-deployment.yaml
  k8s/develop/config-map/board-games-configmap.yaml
  k8s/develop/deployment/board-games-api-deployment.yaml
  k8s/develop/deployment/board-games-app-deployment.yaml
  k8s/develop/ingress/board-games-ingress.yaml
  k8s/develop/service/board-games-api-service.yaml
  k8s/develop/service/board-games-app-service.yaml
  k8s/develop/service/mongo-service.yaml
  k8s/develop/stateful-set/mongo-statefulset.yaml
  k8s/ingress/board-games-ingress.yaml
  k8s/main/config-map/board-games-configmap.yaml
  k8s/main/deployment/board-games-api-deployment.yaml
  k8s/main/deployment/board-games-app-deployment.yaml
  k8s/main/ingress/board-games-ingress.yaml
  k8s/main/service/board-games-api-service.yaml
  k8s/main/service/board-games-app-service.yaml
  k8s/main/service/mongo-service.yaml
  k8s/main/stateful-set/mongo-statefulset.yaml
  k8s/service/board-games-api-service.yaml
  k8s/service/board-games-app-service.yaml
  k8s/service/mongo-service.yaml
  k8s/stateful-set/mongo-statefulset.yaml
Due: none

changed naming convention for develop env
  BoardGamesApp/src/ui/components/Home.js
Due: Execute Board Games App Pipeline

changed naming convention for develop env (#4)
  BoardGamesApp/src/ui/components/Home.js
Due: Execute Board Games App Pipeline

changed naming convention
  BoardGamesApp/src/ui/components/Home.js
Due: Execute Board Games App Pipeline

Update Home.js
  BoardGamesApp/src/ui/components/Home.js
Due: Execute Board Games App Pipeline

Path conditions:
  Execute Board Games API Pipeline: any of: BoardGamesApi/**
  Execute Board Games App Pipeline: any of: BoardGamesApp/**
  Execute Reverse Proxy Pipeline: any of: ReverseProxy/**
